<nav class="nav-extended">
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo">Facebook - Twitter Messenger API Integration</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="{{classes.facebookClass}}"><a ui-sref="dashboard.facebook">Facebook</a></li>
      <li class="{{classes.twitterClass}}"><a ui-sref="dashboard.twitter">Twitter</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li class="{{classes.facebookClass}}"><a ui-sref="dashboard.facebook">Facebook/a></li>
      <li class="{{classes.twitterClass}}"><a ui-sref="dashboard.twitter">Twitter</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<toaster-container></toaster-container>
<div class="row">
  <div ui-view>

  </div>
</div>

<script>
  $(document).ready(function () {
    $(".button-collapse").sideNav({ closeOnClick: true });
    // $('select').material_select();
    // $(".dropdown-button").dropdown({
    //   hover: false
    // });
  }
  );

</script>