<div id="admin" class="col s12">
  <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;background-color:teal">
    <div class="valign" style="width:100%;">
      <div class="container">
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <div class="card">
              <div class="card-content">
                <div class="card-title center-align">
                  <span class="flow-text">Facebook</span>
                </div>
                <p>Select the Customer to send message to or Check the box to dispatch message to all customers.</p>
                <br><div class="divider"></div><br>
                <form name="facebookForm" novalidate>
                  <div class="row">
                    <div class="">
                      <input ng-model="broadcast" type="checkbox" id="broadcast" /><label for="broadcast">Tick to broadcast to all customers</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea id="message" class="materialize-textarea validate" ng-model="body.message" required></textarea>
                      <label for="message">Message</label>
                    </div>
                  </div>
                  <div ng-if="!broadcast" class="row">
                    <div class="input-field col s12">
                      <select class="validate" ng-model="body.psid" required>
                        <option value="" disabled selected>Select Customer</option>
                        <option ng-repeat="customer in customers" value="{{customer.psid}}">{{customer.first_name}} {{customer.last_name}}</option>
                      </select>
                      <label>Choose Customer to message</label>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-action">
                <input type="submit" class="waves-effect orange btn-large" value="send" ng-click="send()" ng-disabled="facebookForm.$pristine || facebookForm.$invalid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // $(".button-collapse").sideNav({ closeOnClick: true });
    $('select').material_select();
    // $(".dropdown-button").dropdown({
    //   hover: false
    // });
  });

</script>
